body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
  }

  header {
    background: #4CAF50;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 40px;
    text-align: center;
    margin-bottom: 200px;
  }

  .user-list {
    margin: 40px;
  }
  
  .user-list table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;;
  }
  
  .user-list th,
  .user-list td {
    padding: 10px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    text-align: center;
  }

.user-list .btn-view,
.user-list .btn-update,
.user-list .btn-delete {
  padding: 5px 10px;
  background: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}
  footer {
    background: #4CAF50;
    padding: 20px;
    text-align: center;
    color: #fff;
  }